


.header {
    width: 100%;
    background-color: #282828;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.header .button {

    display: none;
    background: transparent;

}

.header .svg {
    width: 2em;
    height: 2em;
    fill: #fff;

}


.header .ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.header .li {
    margin: 0 .8em;
}

.header .li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: -4px;
    transform: scaleX(0);
    background: #3b71f9;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.li {

    cursor: pointer;
    position: relative;


}

.header .li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width:720px) {

    .header .button {
        display: block;
        cursor: pointer;


    }

    .header .nav.activo {
        /* display: block; */
        height: 50vh;
        pointer-events: auto;



    }

    .header .nav {
        width: 100%;
        /* display: none; */
        height: 0;
        overflow: hidden;
        pointer-events: none;
        transition: all .5s ease;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .header .ul {
        flex-direction: column;
    }

    .header .li {
        margin: 1em 0;
    }


}

#spaceImg {
    position: relative;
    display: inline-block;
    text-align: center;

}

.space {
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
}

.ariText {

    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#startPage {
    background: url('../multimedia/img/space-galaxy-background-generative-ai.jpg');
    background-color: #282828;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112vh;
    width: 98.9vw;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 49% 100%, 0 80%);
    color: #fff;
}

@media screen and (max-width:720px) {

    .space {
        -webkit-box-shadow: 1px 20px 21px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 10px 8px 0px rgba(40, 40, 40, 1);
        -moz-box-shadow: 0px 10px 8px 0px rgba(40, 40, 40, 1);
        box-shadow: 0px 10px 8px 0px rgba(40, 40, 40, 1);
        width: 100%;
    }

    #startPage {
        background: url('../multimedia/img/space-galaxy-background-generative-ai.jpg');
        background-color: #282828;
        background-blend-mode: soft-light;
        background-size: cover;
        background-position: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 100%;

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        color: #fff;

    }

    .ariText {
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }

}

.contenedor {
    width: 95%;
    margin: 2em;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#poema {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;

}

#giftPlanet {
    align-items: center;
    justify-content: center;
    padding: 3em;
    height: 70%;
    width: 50%;
}
#giftPlanet .content{
align-items: center;
justify-content: center;

}

#giftPlanet .gif {
    cursor: pointer;
    margin-left: 2.3em;
    border-radius: 3em;
    -webkit-box-shadow: -1px -1px 31px 12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 31px 12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 31px 12px rgba(0, 0, 0, 0.75);

}

.play {
    width: 100%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 3em;
}

@media screen and (max-width:720px) {
    .contenedor {
        margin: 0;
        padding: 0;
        display: block;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #poema {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 1em;
        font-size: 120%;
        font-family: 'Nunito', sans-serif;
        line-height: 1.2;

    }

    #giftPlanet {
        align-items: center;
        justify-content: center;
        padding: 3em;
        margin: 0 auto;
        width: 400px;
    }

    #giftPlanet .gif {
        cursor: pointer;
        margin: 0 auto;
        border: 2em;
        border-radius: 3em;
        -webkit-box-shadow: -1px -1px 31px 12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px -1px 31px 12px rgba(0, 0, 0, 0.75);
        box-shadow: -1px -1px 31px 12px rgba(0, 0, 0, 0.75);

    }

    .play {
        width: 100%;
        font-family: 'Comfortaa', sans-serif;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        padding: 3em;
    }
}

#separador {
    width: 100%;
    height: 10px;
    background-color: #ffff91;
    margin-bottom: 50px;
}

.gracioso {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-flow: column;
    border-radius: 3em;
    margin: 10em;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    line-height: 1;
    /* background-color: #965dba; */

    color: #000;
    height: 100vh;


}

.gracioso {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: 0.2s;

}

.gracioso:hover {
    color: #fff;
    background-color: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;

}

.gracioso .tittle {
    padding: 1em;
    margin: 1em;
}

.dog {

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    height: 60vh;
    width: 30vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    object-fit: cover;
    clip-path: path('M213.1,6.7c-32.4-14.4-73.7,0-88.1,30.6C110.6,4.9,67.5-9.5,36.9,6.7C2.8,22.9-13.4,62.4,13.5,110.9 C33.3,145.1,67.5,170.3,125,217c59.3-46.7,93.5-71.9,111.5-106.1C263.4,64.2,247.2,22.9,213.1,6.7z');
    margin: 0 auto;
}

@media screen and (max-width:720px) {
    .gracioso {

        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        flex-flow: row wrap;
        border: solid;
        border-color: #a945c7;
        border-radius: 12px;
        margin: 4em;
        margin-top: 1em;
        margin-bottom: 2em;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-size: 12px;
        line-height: 1;
        color: #000;
        position: relative;
        height: 50vh;
        width: 80%;
        overflow: hidden;
        transition: 0.2s;


    }

    .gracioso:hover {
        color: #000000;
        background-color: transparent;
        box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;

    }


    .dog {

        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 20px;


        width: 250px;
        height: 250px;
        object-fit: cover;
        clip-path: path('M213.1,6.7c-32.4-14.4-73.7,0-88.1,30.6C110.6,4.9,67.5-9.5,36.9,6.7C2.8,22.9-13.4,62.4,13.5,110.9 C33.3,145.1,67.5,170.3,125,217c59.3-46.7,93.5-71.9,111.5-106.1C263.4,64.2,247.2,22.9,213.1,6.7z');
        margin: 0 auto;

    }

    .gracioso .tittle {
        font-size: 15px;
    }

}

.loveFinal {
    width: 100%;
    background: url('../multimedia/img/starsBackground.jpg');
    background-color: #282828;
    background-blend-mode: soft-light;
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    font-size: 30px;

}

#cats {
    height: 40vh;
    width: 20vw;
    padding: 30px;
    border-radius: 50px;

}

@media screen and (max-width:720px) {
    .loveFinal {
        height: 35vh;
        justify-content: space-around;
        font-size: 18px;



    }

    #cats {

        height: 250px;
        width: 250px;
        padding: 30px;
        border-radius: 10em;

    }
}

.footer {
    margin-top: 10px;
    background-color: #181818;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;

}

.footer .icons {
    justify-content: space-around;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    width: 100%;
    display: block;
    fill: currentColor;
    width: 2em;
    height: 2em;
    fill: #fff;
    font-size: 25px;

}